body{
    background-color: aliceblue;
    font-family: 'Didact Gothic', sans-serif;
}

.titulo{
    width: auto;
    position: relative;
    padding: 20px;
    margin: 40px 20px 20px 20px;
    font-size: 40px;
    text-transform: uppercase;
}

.titulo h1{
    width: max-content;
    padding: 5px;
    border: 3px solid;
    box-shadow: 5px 5px 0 #000000;
}

.texto{
    margin: 40px 0 40px 0;
    height: 460px;
}

.texto textarea{
    padding: 20px;
    overflow: auto;
    outline: none;
    resize: none;
}

.texto-entrada{
    font-size: 30px;
    height: 460px;
    width: 55vw;
    border: none;
    margin-left: 5%;
    vertical-align: top;
    background-color: #f0f8ff;
}

.texto-entrada::placeholder{
    font-family: 'Didact Gothic', sans-serif;
    font-size: 27px;
    font-weight: bold;
    color: #000000;
}

.texto-imagen{
    display: inline-block;
    height: 600px;
    width: 30%;
    margin-left: 10px;
}

.imagen{
    position: absolute;
    width: 20vw;
    margin-left: 5%;
    margin-top: 5%;
    visibility: visible;
}

.texto-salida{
    height: 100%;
    width: 100%;
    font-size: 20px;
    border: 3px solid;
    box-shadow: 5px 5px 0 #000000;
}

.texto-salida::placeholder{
    font-family: 'Didact Gothic', sans-serif;
    font-size: 25px;
    text-align: center;
    color: #000000;
}

.advertencia{
    margin-left: 17%;
    padding-left: 10px;
    color: #333333;
}

.botones{
    margin: 20px 17%;
}

.botones input{
    font-family: 'Didact Gothic', sans-serif;
    font-size: 30px;
    padding: 5px 15px 10px 15px;
    margin: 0 10px;
    box-shadow: 5px 5px 0 black;
}

.encriptar{
    border: none;
    background-color: #333333;
    color: #ffffff;
    transition: 500ms;
}

.encriptar:hover{
    transform: scale(1.1);
    background-color: #000000;
}

.desencriptar{
    border-color: #333333;
    background-color: #f0f8ff;
    color: #333333;
    transition: 500ms;
}

.desencriptar:hover{
    transform: scale(1.1);
    background-color: #e0e8ef;
}

.copiar{
    border-color: #333333;
    background-color: #f0f8ff;
    color: #333333;
    transition: 500ms;
}

.copiar:hover{
    transform: scale(1.1);
    background-color: #e0e8ef;
}